@page
@model WebApp.Pages.Admin.Ads.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h2>Edit</h2>

<h4>Ad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Ad.AdID" />
            <div class="form-group">
                <label asp-for="Ad.Title" class="control-label"></label>
                <input asp-for="Ad.Title" class="form-control" />
                <span asp-validation-for="Ad.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ad.Content" class="control-label"></label>
                <input asp-for="Ad.Content" class="form-control" />
                <span asp-validation-for="Ad.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
